.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  height: 100vh;
}

.title {
  font-weight: 600;
  margin: 0 1rem;
  color: white;
}

.active {
  color: #80D8F7 !important;
}

.link {
  color: white;
  text-decoration: none;
}

.link:hover {
  color: #80D8F7;
}

.regContainer {
  width: 100%;
  height: 100%;
  background-color: #eee;
  border-radius: 25px;
  text-align: center;
  padding: 25px 0;
  margin-top: 1.2rem;
}


.txtFieldWrapper {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn {
  font-size: 1em !important;
  font-weight: 600 !important;
  color: #282c34 !important;
  padding: 0.4rem 2rem !important;
}

.navBar {
  padding: 25px 10px 15px;
  display: flex;
  justify-content: space-between;
}

.logOutBtn {
  color: white !important;
  font-size: 1em !important;
  padding: .4rem 1.2rem !important;
  border: 1px solid transparent !important;
}

.logOutBtn:hover {
  border: 1px solid white !important;
}

.coloredTxt {
  color: #80D8F7;
  border-bottom: 1px solid transparent;
  cursor: pointer;
}

.coloredTxt:hover {
  border-bottom: 1px solid #80D8F7;
}

.activityWrapper {
  padding: 25px 15px;
}

.txtBox {
  display: flex;
  align-items: center;
}

.displayActivity {}

.notFoundWrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.goBackBtn {
  color: white !important;
  font-size: 1em !important;
  margin-top: 1.5rem !important;
  padding: 0.5rem 1.5rem !important;
  border: 1px solid transparent !important;
}

.goBackBtn:hover {
  color: #80D8F7 !important;
  border: 1px solid white !important;
}